@charset "utf-8";
@import "./variables.scss";
@import "../../node_modules/bulma"; 

body {
  background-color: $one;
  min-height: 100vh;
  min-width: 100vw;
  color: $one;
}

div.navbar{
  background-color: transparent;
}

div.navbar-menu {
  padding-right: 3em;
  font-weight: 700;
  font-size: 1.3em;
}

div.navbar-brand {
  padding-left: 1em;
  font-weight: 700;
  font-size: 2em;
}

a.navbar-item.is-active {
  color: $eight;

}

section.hero.is-large#heroOne {
  background-color: $one;
}

section.hero.is-medium#heroTwo {
  background-color: $two;
}

section.hero.is-medium#heroThree {
  background-color: $three;
}

section.hero.is-medium#heroFour {
  background-color: $four;
}

p.title.four {
  color: $one;
}

p.subtitle.four{
  color: $one;
}

p.title.two {
  color: $eight;
}

p.subtitle.two{
  color: $eight;
}

div.registerForm {
  max-width: 35vw;
  justify-content: center;
}

div.container {
  min-width: 100vw;
}

li.poem_title {
  padding-bottom: 2em;
}

article.message {
  width: 500px;
  margin-left: 2em;
  height: 500px;
}

h1.title.is-1 {
  margin-left: .75em;
  color: $seven;
}