@charset "utf-8";
@import "./variables.scss";
@import "../../node_modules/bulma"; 

body {
  background-color: $four;
  min-height: 100vh;
  min-width: 100vw;
  color: $one;
}

div.navbar{
  background-color: transparent;
}

div.navbar-menu {
  padding-right: 3em;
  font-weight: 700;
  font-size: 1.3em;
}

div.navbar-brand {
  padding-left: 1em;
  font-weight: 700;
  font-size: 2em;
}

section.hero.is-large#heroOne {
  background-color: $four;
}

section.hero.is-medium#heroTwo {
  background-color: $three;
}

section.hero.is-medium#heroThree {
  background-color: $two;
}

section.hero.is-medium#heroFour {
  background-color: $one;
}

p.title.four {
  color: $five;
}

p.subtitle.four{
  color: $five;
}

p.title.two {
  color: $one;
}

p.subtitle.two{
  color: $one;
}

div.registerForm {
  max-width: 35vw;
  justify-content: center;
}

div.container {
  min-width: 100vw;
}