body {
  background-color: cornflowerblue;
  min-height: 100vh;
  min-width: 100vw;
}

ul.nav-list {
  list-style-type: none;
}

li.nav-item {
  padding: 2em;
  display: inline;
}

li.nav-item#home {
  padding-right: 5em;
}